@model List<Playlist>
@{
    Layout = "_LayoutHome";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Col2</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var playlist in Model)
        {
            <tr>
               
                    <td>@playlist.Name</td>
              
                    <td>
                    <a asp-controller="Library" asp-action="AddSong" asp-route-id="@playlist.Id" class="btn btn-primary">Add Songs</a>
                    </td>
                    
                
            </tr>
        }
    </tbody>

</table>
